:root {
    /* --mainColor: #C0FEFC;
    --secondaryColor: #3EDBF0;
    --borderColor: #04009A; */

    --mainColor: #F3F8FF;
    --secondaryColor: #DEECFF;
    --borderColor: #C6CFFF;

    --mainText: black;
    --secondaryText: #4b5156;
 
    --highlight: blue;

    --linkColor: #17a2b8;

    --boxBGColor: oldlace;

    --box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;

    --submitButtonBGColor: black;
    --submitButtonTextColor: #C0FEFC;
}