:root {
    --mainColor: #eaeaea;
    --secondaryColor: #fff;

    --mainText: black;
    --secondaryText: #4b5156;

    --emailAddressColor: teal;
    --linkColor: teal;

    --boxBGColor: #eaeaea;

    --box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    --border: 1px solid gray;
    --background1: var(--mainColor);
    --background2: var(--secondaryColor);

    --s1s3-title-color: black;
    --headTextColor: var(--mainColor);
    --headFootBGColor: black;
    --headHoverColor: var(--background1);
    --headHoverTextColor: black;
}

.dark-mode {
    --mainText: var(--mainColor);

    --emailAddressColor: rgb(240, 243, 46);
    --linkColor: rgb(240, 243, 46);

    --boxBGColor: black;
    --boxTextColor: var(--mainColor);

    --box-shadow: none;
    --border-radius: none;
    --border: 1px solid #c1c1c1;
    --background1: url("./images/Slanted-Gradient.svg");
    --background2: url("./images/Slanted-Gradient.svg");

    --s1s3-title-color: var(--mainColor);
    --headTextColor: var(--mainColor);
    --headHoverColor: rgb(159, 0, 10);
    --headHoverTextColor: var(--mainColor);
}

.bright-mode {
    --mainColor: #eaeaea;
    --secondaryColor: #fff;

    --mainText: black;
    --secondaryText: #4b5156;

    --emailAddressColor: teal;
    --linkColor: teal;

    --boxBGColor: transparent;
    --boxTextColor: black;

    --box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    --border: 1px solid gray;
    --background1: url("./images/Liquid-Cheese.svg");
    --background2: url("./images/Liquid-Cheese.svg");

    --s1s3-title-color: black;
    --headTextColor: var(--mainColor);
    --headFootBGColor: black;
    --headHoverColor: rgb(255, 187, 44);
    --headHoverTextColor: black;
}

* {
    box-sizing: border-box;
}

body {
    width: 100%;
    padding: 0;
    margin: 0;
    background: var(--background);
    background-size: cover;
}

a,
p,
li,
span,
label,
input,
textarea {
    color: var(--mainText);
    font-family: 'Spartan', sans-serif;
}

p {
    font-weight: 400;
    line-height: 1.5rem;
    padding-bottom: 1rem;
}

h1,
h2,
h3,
h4,
h5,
h6,
strong {
    color: var(--mainText);
    font-family: 'Barlow', sans-serif;
}

a {
    text-decoration: none;
    color: var(--linkColor);
}

ul {
    list-style: none;
}

h1 {
    font-size: 56px;
}

h2 {
    font-size: 36px;
}

h3 {
    font-size: 28px;
}

h4 {
    font-size: 24px;
}

h5 {
    font-size: 20px;
}

h6 {
    font-size: 16px;
}

/* Style the navigation menu */
#header {
    overflow:hidden;
    background-color: var(--headFootBGColor);
    position: sticky;
    top: 0;
    border: var(--border);
    box-shadow: var(--box-shadow);
}

#header img {
    border: none;
    height: 2rem;
    padding: 0 .5rem 0 1rem;
    position: relative;
    top: 10px;
}

#header #home-link {
    flex-grow: 1;
    padding: 0;
}
  
/* Style navigation menu links */
#header a {
    color: var(--mainColor);
    padding: 1rem;
    text-decoration: none;
    font-size: 1rem;
    display: block;
}

/* Style the hamburger menu */
#header a.icon {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
}

/* Add a background color on mouse-over */
#header a:hover {
    background-color: var(--headHoverColor);
    color: var(--headHoverTextColor);
    cursor: pointer;

}

.s1, .s3 {
    background: var(--background1);
}

.s2, .s4 {
    background: var(--background2);
}

.s1, .s2, .s3, .s4 {
    background-repeat: no-repeat;
    background-size: inherit;
    /* padding: 5% 15%; */
    padding: 1rem 0 2rem 0;
}

.s1s3-title, .section-title, .skills-title {
    color: var(--s1s3-title-color);
}

.greeting-wrapper .s1s3-title {
    margin: 0;
}

.section-title{
    text-align: center;
    padding-top: 1.5rem;
}

.main-container {
    width: 1200px;
    height: 100%;
    margin: auto;
}

.greeting-wrapper {
    display: grid;
    text-align: center;
    align-content: center;
}

.intro-wrapper {
    background-color: transparent;
    border-radius: var(--border-radius);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
        'left-column right-column right-column';
}

.left-column {
    grid-area: left-column;
    padding: 4.5em 0 0;
}

.profile-pic{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 300px;
    object-fit: cover;
    border: var(--border);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);    
}

.right-column {
    padding: 4.5em 2rem 0 0;   
    grid-area: right-column;
}

#preview{
    min-height: 300px;
    padding-right: 15%;
    text-align: center;
}

.about-wrapper {
    padding: 0 15%;
}

.aboutme {
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.9rem;
}

.skills-title {
    margin: 0;
    text-align: left;
}

#core-skills-wrapper{
    grid-area: core-skills-wrapper;
}

#core-skills-wrapper ul {
    padding: 0 0 1rem;
}

#familiarities-wrapper{
    grid-area: familiarities-wrapper;
}

#familiarities-wrapper ul{
    padding: 0;
}

#core-skills, #familiarities{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    background-color: transparent;
    border-radius: var(--border-radius);
    line-height: 2rem;
    padding: 1rem 0;
}

#core-skills ul, #familiarities ul {
    margin: 0;
}

#projects-wrapper{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 385px));
    justify-content: center;
    grid-gap: 1rem;
}

.project{
    margin: 1rem;
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    border: var(--border);
    background-color: var(--boxBGColor);
}

.image-container{
    height: 200px;
    width: 96%;
    margin: 2%;
}

.img-link {
    width: 100%;
    height: 100%;
}

.proj-image{
    width: 100%;
    height: 200px;
    margin: auto;
    object-fit: cover;
    border-top-right-radius: var(--border-radius);
    border-top-left-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
    border-bottom-left-radius: var(--border-radius);
    border: 0;
}

.proj-title {
    display: flex;
    justify-content: space-between;
    padding: 0 1em;
}

.proj-desc{
    color: var(--boxTextColor);
    padding: 0 1em 1em 1em;
    margin: 0;
}

.proj-readmore{
    padding: 0 1em 1em 1em;
    margin: 0;
}

.more {
    display: none;
}

.read-more-btn {
    color: var(--boxTextColor);
    background-color: var(--boxBGColor);
    border-width: 1px;
    border: var(--border);
    border-radius: var(--border-radius);
}

.read-more-btn:hover {
    border-width: 2px;
    cursor: pointer;
}

#email-link {
    color: var(--emailAddressColor);
}

#contact-form{
    max-width: 600px;
    display: block;
    margin: 2em auto;
    padding: 2em;
    background-color: var(--boxBGColor);
    border: var(--border);
    box-shadow: var(--box-shadow);
    border-radius: var(--border-radius);
}

.input-field{
    width: 100%;
    margin-bottom: 1em;
    background-color: var(--boxBGColor);
    border: var(--border);
    font-size: 1em;
    line-height: 2em;
}

#contact-form label{
    line-height: 1.5em;
}

#contact-form textarea{
    height: 13em;
}

#btn-wrapper {
    display: flex;
}

.contact-btn {
    line-height: 2rem;
    background-color: transparent;
    color: var(--boxTextColor);
    width: 100%;
    border: var(--border);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    font-size: 1em;
}

.contact-btn:hover {
    border-width: 2px ;
    cursor: pointer;
}

.contact-btn:active {
    transform: translateY(4px);
}

#cancel-btn {
    margin-right: .5em;
}

#submit-btn {
    margin-left: .5em;
}

footer h6{
    line-height: 2em;
    position: static;
    bottom: 0;
    width: 100%;
    background-color: var(--headFootBGColor);
    margin: 0;
    text-align: center;
    border-bottom-left-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
    border: var(--border);
    box-shadow: var(--box-shadow);
}

mark.red {
    color:red;
    background: none;
}

mark.white {
    color:#fff;
    background: none;
}

mark.green {
    color: green;
    background: none;
}

#version {
  position: absolute;
  right: 1rem;
}

@media screen and (max-width: 1200px) {

    .main-container {
        width: 98%;
    }
}

@media screen and (max-width: 800px) {

    #header img {
        padding-left: 1rem;
        top: 7px;
    }

    #header #home-link {
        /* width: 80%; */
        padding-bottom: .5rem;
    }
    
    #header, #menu {
        display: block;
    }

    .menu-item {
        flex-grow: 1;
    }

    .right-column, #preview {
        padding: 0;
    }

    .intro-wrapper{
        display: block;
        grid-template-columns: 1fr;
        grid-template-areas:
            'left-column'
            'right-column';
    }

    #competency-wrapper{
        grid-template-columns: 1fr;
        grid-template-areas:
            'core-skills-wrapper'
            'familiarities-wrapper';
    }

    #core-skills-wrapper, #familiarities-wrapper {
        margin: 0;
    }

    #version {
        display: none;
    }
}

@media screen and (max-width: 400px) {

    .s1, .s2, .s3, .s4 {
        padding: 2rem 1rem 1rem;
    }

    .about-wrapper {
        padding: 0;
    }

    #contact-form {
        margin-top: 1rem;
        padding: 1rem;
    }
}
