:root {
    --mainColor: #eaeaea;
    --secondaryColor: #fff;

    --borderColor: #c1c1c1;

    --mainText: black;
    --secondaryText: #4b5156;

    --highlight: blue;

    --linkColor: #17a2b8;

    --boxBGColor: oldlace;

    --box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;

    --border-radius: 5px;
    --border: 3px solid var(--borderColor);


    --submitButtonBGColor: black;
    --submitButtonTextColor: white;
}

.flat-square-mode {
    --box-shadow: none;
    --border-radius: none;
    --border: 1px solid var(--borderColor);
}

*{
    box-sizing: border-box;
}

html,
body {
    padding: 0;
    margin: 0;
}

a,
p,
li,
span,
label,
input,
textarea {
    color: var(--mainText);
    font-family: 'Roboto Mono', monospace;
}

h1,
h2,
h3,
h4,
h5,
h6,
strong {
    color: var(--mainText);
    font-family: 'Russo One', sans-serif;
    font-weight: 500;
}

a {
    text-decoration: none;
    color: var(--linkColor);
}

ul {
    list-style: none;
}

h1 {
    font-size: 56px;
}

h2 {
    font-size: 36px;
}

h3 {
    font-size: 28px;
}

h4 {
    font-size: 24px;
}

h5 {
    font-size: 20px;
}

h6 {
    font-size: 16px;
}

/* Style the navigation menu */
#header {
    overflow:hidden;
    background-color: var(--secondaryColor);
    position: sticky;
    top: 0;
    border: 1px solid var(--borderColor);
    box-shadow: var(--box-shadow);
}
  
  /* Hide nav menu links except logo/home */
#menu{
    display: none;
}
  
/* Style navigation menu links */
#header a {
color: var(--mainText);
padding: 14px 32px;
text-decoration: none;
font-size: 17px;
display: block;
}

/* Style the hamburger menu */
#header a.icon {
display: block;
position: absolute;
right: 0;
top: 0;
}

/* Add a background color on mouse-over */
#header a:hover{
background-color: var(--boxBGColor);
color: var(--mainText);
box-shadow: var(--box-shadow);
}

.s1, .s3 {
    background-image: url("./images/Slanted-Gradient.svg");
    background-size: cover;
}

.s1, .s3{
    background-color: var(--mainColor);
    padding-bottom: 5em;
    border: var(--border);
}

.s1s3-title {
    color: var(--mainColor);
}

.s3{
    /* border-top: 1em solid var(--borderColor); */
    border: var(--border);
    padding-bottom: 4em;
}

.s2, .s4{
    background-color: var(--secondaryColor);
    border: var(--border);
    /* border-top: 1em solid var(--borderColor); */
    padding-bottom: 2em;
}

.s4{
    padding-bottom: 10em;
}

.section-title{
    text-align: center;
    padding-top: 1.5em;
}

.main-container {
    width: 1200px;
    height: 100%;
    margin: auto;
}

.greeting-wrapper {
    display: grid;
    text-align: center;
    align-content: center;
    min-height: 10em;
}

.intro-wrapper {
    background-color: var(--secondaryColor);
    border: 1px solid var(--borderColor);
    border-top-left-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
        'nav-wrapper nav-wrapper'
        'left-column right-column';
}

.nav-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    grid-area: nav-wrapper;
    border-bottom: 1px solid var(--borderColor);
    background-color: var(--mainColor);
    border-top-left-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius);
    padding-inline: 1em;
}

.dots-wrapper{
    display: flex;
}

.browser-dot{
    height: 1em;
    width: 1em;
    border-radius: 50%;
    margin: .3em;
}

#dot-1{
    background-color: #fc6058;
}

#dot-2{
    background-color: #fec02f;
}

#dot-3{
    background-color: #2aca3e;
}

#navigation{
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

#navigation li{
    margin: 0 .3em;
}

.left-column {
    grid-area: left-column;
    padding: 4.5em 0 0;    
}

#profile-pic{
    display: block;
    margin: auto;
    height: 300px;
    max-width: 75%;
    object-fit: cover;
    border: var(--border);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
}

#theme-wrapper{
    display: flex;
    justify-content: center;
    margin-bottom: 3em;
}

.theme-dot{
    height: 2em;
    width: 2em;
    background-color: green;
    border: 1px solid lightgray;
    /* border-radius: 50%; */
    margin: 0 1em;
    cursor: pointer;
}

.theme-dot:hover{
    border-width: 3px;
}

#light-mode{
    background-color: #fff;
}

#blue-mode{
    background-color: #DEECFF;
}

#green-mode{
    background-color: #C7CFB7;
}

#purple-mode{
    background-color: #F6E7e6;
}

#settings-note{
    font-size: .8em;
    font-style: italic;
    text-align: center;
    padding-top: .5em;
}

.right-column {
    grid-area: right-column;
}

#preview{
    max-width: 75%;
    min-height: 300px;
    margin: 4.5em auto;
    padding: 0 1em 1em;
    background-color: var(--boxBGColor);
    text-align: center;
    box-shadow: var(--box-shadow);
    border: var(--border);
    border-radius: var(--border-radius);
}

.highlight{
    /* color: var(--highlight); */
}

#about-me {
    padding: 1em 2em;
    background-color: var(--boxBGColor);
    box-shadow: var(--box-shadow);
    border: var(--border);
    border-radius: var(--border-radius);
}

#resume-btn {
    height: 3em;
    width: 100%;
    margin-bottom: 3em;
    align-self: center;
    font-size: 1em;
    font-weight: bold;
    color: var(--linkColor);
    background-color: var(--boxBGColor);
    border: var(--border);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    cursor: pointer;
}

#resume-btn:hover {
    border-width: 3px;
}

#competency-wrapper{
    display: grid;
    grid-template-columns: 1fr, 1fr;
    grid-template-areas: 
    'core-skills-wrapper familiarities-wrapper';
}

#core-skills-wrapper{
    grid-area: core-skills-wrapper;
    margin-right: .5em;
}

#familiarities-wrapper{
    grid-area: familiarities-wrapper;
    margin-left: .5em;
}

#core-skills, #familiarities{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    background-color: var(--boxBGColor);
    margin-bottom: 3em;
    border: var(--border);
    box-shadow: var(--box-shadow);
    border-radius: var(--border-radius);
}

#projects-wrapper{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 1em;
    justify-content: center;
}

.project{
    margin: 1em;
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    border: var(--border);
    background-color: var(--secondaryColor);
}

.image-container{
    width: 100%;
    display: flex;
    align-content: center;
}

.img-link {
    width: 100%;
    height: 100%;
}

.proj-image{
    width: 100%;
    height: 200px;
    margin: auto;
    object-fit: cover;
    border-top-right-radius: var(--border-radius);
    border-top-left-radius: var(--border-radius);
    border: 0;
}

.proj-title {
    display: flex;
    justify-content: space-between;
    padding: 0 1em;
}

.proj-desc{
    padding: 1em;
    margin: 0;
}

.proj-desc {
    padding-top: 0;
}

.proj-readmore{
    padding: 0 1em 1em 1em;
    margin: 0;
}

.more {
    display: none;
}

.read-more-btn {
    background-color: var(--mainColor);
    border-width: 1px;
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
}

/* #contact-title {
    margin-bottom: 1em;
} */

#contact-form{
    max-width: 600px;
    display: block;
    margin: 3em auto auto auto;
    padding: 2em;
    background-color: var(--boxBGColor);
    border: var(--border);
    box-shadow: var(--box-shadow);
    border-radius: var(--border-radius);
}

.input-field{
    width: 100%;
    padding: 1em auto;
    margin-bottom: 10px;
    background-color: whitesmoke;
    border-radius: var(--border-radius);
    border: var(--border);
    font-size: 1em;
}

#contact-form label{
    line-height: 1.5em;
}

#contact-form textarea{
    height: 13em;
}

#btn-wrapper {
    display: flex;
}

.contact-btn {
    margin-top: 1em;
    background-color: var(--secondaryColor);
    color: black;
    width: 100%;
    height: 2em;
    border: var(--border);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    font-size: 1em;
}

.contact-btn:hover {
    border-width: 3px ;
}

.contact-btn:active {
    transform: translateY(4px);
}

footer h6{
    line-height: 2em;
    background-color: var(--mainColor);
    margin: 0;
    text-align: center;
    border-bottom-left-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
    border: var(--border);
    box-shadow: var(--box-shadow);
}

#footer {
    background-color: black;
}

mark.red {
    color:#ff0000;
    background: none;
}

mark.white {
    color:#fff;
    background: none;
}

@media screen and (max-width: 1200px) {

    .main-container {
        width: 95%;
    }
}

@media screen and (max-width: 800px) {
    
    #header, #menu {
        display: block;
    }

    .intro-wrapper{
        grid-template-columns: 1fr;
        grid-template-areas:
            'nav-wrapper'
            'left-column'
            'right-column';
    }

    #competency-wrapper{
        grid-template-columns: 1fr;
        grid-template-areas:
            'core-skills-wrapper'
            'familiarities-wrapper';
    }

    #core-skills, #familiarities{
        margin-right: 0;
    }
}
