:root {
    /* --mainColor: #EAE2B6;
    --secondaryColor: #A3A847;
    --borderColor: #7F8B52; */

    --mainColor: #F7F7E8;
    --secondaryColor: #C7CFB7;
    --borderColor: #9DAD7F;

    --mainText: black;
    --secondaryText: #4b5156;
 
    --highlight: blue;

    --linkColor: teal;

    --boxBGColor: oldlace ;

    --box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;

    --submitButtonBGColor: black;
    --submitButtonTextColor: #EAE2B6;
}